@import 'tailwindcss';

@theme {
	--font-primary: 'Russo One', Arial, sans-serif;
	--font-mono: 'Share Tech Mono', monospace;
}

body {
	font-family: var(--font-mono);
	background-color: #070608;
	color: #d8d0c4;
	overflow-x: hidden;
}

